<script setup lang="ts">
import type { PropType } from 'vue';
export interface Eatable
{ id:number; 
    text:string}
const props = defineProps({
    todo: {type: Object as PropType<Eatable>,
    required: true,},
});

</script>
<template>
    <li>{{ todo.text }}</li>
</template>