<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
import CalComponents from './components/CalComponents.vue';
import HelloWorldExample from './components/HelloWorldExample.vue';
import HandlingUserInput from './components/HandlingUserInput.vue';
import AttributeBindings from './components/AttributeBindings.vue';
import ConditionalsAndLoops from './components/ConditionalsAndLoops.vue';
import FormBinding from './components/FormBinding.vue'
import SimpleComponent from './components/SimpleComponent.vue';
</script>

<template>
  <div>
    <SimpleComponent/>
    <br>
    <br>
    <FormBinding/>
    <br>
    <br>
    <ConditionalsAndLoops/>
    <br>
    <br>
    <AttributeBindings/>
   <HandlingUserInput/>
    <CalComponents/>
    <HelloWorldExample/>
  </div>

</template>

<style scoped>
</style>
